### Bibliotecas

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Leitura dos dados

Fonte dados original: https://github.com/adaoduque/Brasileirao_Dataset/tree/master/data (anos de 2003 e 2016 precisam tratamento)

Fonte de dados já tratados de 2003 até 2020: https://github.com/juvenalfonseca/python/tree/master/datasets

#### Dados de 2021 e 2022

In [29]:
# dados brutos de 2021 e 2022
dados_2021_2022 = {}
for ano in range(2021,2023):
    print(ano)
    path = f"https://github.com/adaoduque/Brasileirao_Dataset/blob/master/data/brasileirao-{ano}.json?raw=true"
    dados_2021_2022[ano] = pd.read_json(path)

2021
2022

In [30]:
print(f"Shape {dados_2021_2022[2022].shape} - 10 partidas em cada rodada, de 38 no total")
dados_2021_2022[2022].head(2)

Shape (10, 38) - 10 partidas em cada rodada, de 38 no total

,1,2,4,3,5,7,6,8,9,10,...,29,30,31,32,33,34,35,36,37,38
0,"{'clubs': {'home': 'Fluminense', 'away': 'Sant...","{'clubs': {'home': 'Goiás', 'away': 'Palmeiras...","{'clubs': {'home': 'Flamengo', 'away': 'Palmei...","{'clubs': {'home': 'Bragantino', 'away': 'São ...","{'clubs': {'home': 'Atlético-MG', 'away': 'Amé...","{'clubs': {'home': 'Bragantino', 'away': 'Atlé...","{'clubs': {'home': 'Palmeiras', 'away': 'Braga...","{'clubs': {'home': 'Goiás', 'away': 'Bragantin...","{'clubs': {'home': 'América-MG', 'away': 'Cuia...","{'clubs': {'home': 'Cuiabá', 'away': 'Corinthi...",...,"{'clubs': {'home': 'Atlético-MG', 'away': 'Flu...","{'clubs': {'home': 'Juventude', 'away': 'Corin...","{'clubs': {'home': 'Cuiabá', 'away': 'Flamengo...","{'clubs': {'home': 'Flamengo', 'away': 'Atléti...","{'clubs': {'home': 'Bragantino', 'away': 'Athl...","{'clubs': {'home': 'Flamengo', 'away': 'Santos...","{'clubs': {'home': 'Ceará SC', 'away': 'Flumin...","{'clubs': {'home': 'Santos', 'away': 'Avaí'}, ...","{'clubs': {'home': 'São Paulo', 'away': 'Inter...","{'clubs': {'home': 'Flamengo', 'away': 'Avaí'}..."
1,"{'clubs': {'home': 'Atlético-GO', 'away': 'Fla...","{'clubs': {'home': 'América-MG', 'away': 'Juve...","{'clubs': {'home': 'Ceará SC', 'away': 'Bragan...","{'clubs': {'home': 'Athletico-PR', 'away': 'Fl...","{'clubs': {'home': 'Athletico-PR', 'away': 'Ce...","{'clubs': {'home': 'Atlético-GO', 'away': 'Cor...","{'clubs': {'home': 'Ceará SC', 'away': 'Flamen...","{'clubs': {'home': 'São Paulo', 'away': 'Ceará...","{'clubs': {'home': 'Athletico-PR', 'away': 'Sa...","{'clubs': {'home': 'América-MG', 'away': 'Cear...",...,"{'clubs': {'home': 'Internacional', 'away': 'S...","{'clubs': {'home': 'Atlético-GO', 'away': 'Flu...","{'clubs': {'home': 'Corinthians', 'away': 'Ath...","{'clubs': {'home': 'América-MG', 'away': 'Fort...","{'clubs': {'home': 'América-MG', 'away': 'Flam...","{'clubs': {'home': 'Athletico-PR', 'away': 'Pa...","{'clubs': {'home': 'Botafogo', 'away': 'Cuiabá...","{'clubs': {'home': 'Fluminense', 'away': 'São ...","{'clubs': {'home': 'Coritiba', 'away': 'Corint...","{'clubs': {'home': 'Athletico-PR', 'away': 'Bo..."

### Cria DataFrame vazio

In [31]:
# colunas dataframe
colunas = ['Rodada',
           'Data',
           'Mandante',
           'Visitante',
           'Arena',
           'Mandante_Placar',
           'Visitante_Placar',
           'Mandante_Resultado']

# dataframe para receber os dados desejados
df = pd.DataFrame(data=None, columns=colunas)

### Preenche DataFrame com dados de 2021 e 2022

In [32]:
# insere dados
for df_ano in dados_2021_2022.values():
    for col in df_ano.columns:
        lista = [None]*8
        for idx in df_ano.index:
            
            lista[0] = col                                      # Rodada
            lista[1] = df_ano.loc[idx, col]['date'   ]          # Data
            lista[2] = df_ano.loc[idx, col]['clubs'  ]['home']  # Mandante
            lista[3] = df_ano.loc[idx, col]['clubs'  ]['away']  # Visitante
            lista[4] = df_ano.loc[idx, col]['stadium']          # Arena
            lista[5] = df_ano.loc[idx, col]['goals'  ]['home']  # Mandante_Placar
            lista[6] = df_ano.loc[idx, col]['goals'  ]['away']  # Mandante_Placar
            
            df.loc[len(df.index)] = lista

In [33]:
df.head(3)

,Rodada,Data,Mandante,Visitante,Arena,Mandante_Placar,Visitante_Placar,Mandante_Resultado
0,1,29/05/21,Cuiabá,Juventude,Arena Pantanal,2,2,None
1,1,29/05/21,Bahia,Santos,Estádio de Pituaçu,3,0,None
2,1,29/05/21,São Paulo,Fluminense,Morumbi,0,0,None

### Ajusta dados de 2021 e 2022

In [34]:
# funcao auxiliar
def sub_valor(valor):
    if valor > 0:
        return 'Vitoria'
    elif valor == 0:
        return 'Empate'
    else:
        return 'Derrota'

In [35]:
# coloca gols como float e define o resultado do Mandante
df["Mandante_Placar"] = df["Mandante_Placar"].astype(np.int8)
df["Visitante_Placar"] = df["Visitante_Placar"].astype(np.int8)
df["Mandante_Resultado"] = (df["Mandante_Placar"] - df["Visitante_Placar"]).apply(lambda x: sub_valor(x))

In [36]:
# Ajusta o campo Data
# 2021
datas_2021 = ['20/11', '21/11', '23/11', '24/11', '25/11', '26/11', '27/11', '28/11', '29/11', '30/11',
              '2/12', '3/12', '5/12', '6/12', '9/12']

datas_certas_2021 = ['20/11/21', '21/11/21', '23/11/21', '24/11/21', '25/11/21', '26/11/21', '27/11/21', '28/11/21',
                     '29/11/21', '30/11/21', '02/12/21', '03/12/21', '05/12/21', '06/12/21', '09/12/21']

# 2022
datas_2022 = ['20/8', '21/8', '22/8', '27/8', '28/8', '29/8', '3/9', '4/9', '5/9', '7/9', '10/9', '11/9',
              '17/9', '18/9', '19/9', '25/9', '27/9', '28/9', '1/10', '3/10', '4/10', '5/10', '6/10',
              '8/10', '9/10', '10/10', '15/10', '16/10', '17/10', '20/10', '22/10', '23/10', '24/10',
              '25/10', '26/10', '27/10', '29/10', '31/10', '1/11', '2/11', '05/11/2022', '06/11/2022',
              '07/11/2022', '08/11/2022', '09/11/2022', '10/11/2022', '12/11/2022', '13/11/2022']

datas_certas_2022 = ['20/08/22', '21/08/22', '22/08/22', '27/08/22', '28/08/22', '29/08/22', '03/09/22', '04/09/22',
                     '05/09/22', '07/09/22', '10/09/22', '11/09/22', '17/09/22', '18/09/22', '19/09/22', '25/09/22',
                     '27/09/22', '28/09/22', '01/10/22', '03/10/22', '04/10/22', '05/10/22', '06/10/22', '08/10/22',
                     '09/10/22', '10/10/22', '15/10/22', '16/10/22', '17/10/22', '20/10/22', '22/10/22', '23/10/22',
                     '24/10/22', '25/10/22', '26/10/22', '27/10/22', '29/10/22', '31/10/22', '01/11/22', '02/11/22',
                     '05/11/22', '06/11/22', '07/11/22', '08/11/22', '09/11/22', '10/11/22', '12/11/22', '13/11/22']

# dicionarios com as datas mapeadas
data_dic_2021 = dict(zip(datas_2021, datas_certas_2021))
data_dic_2022 = dict(zip(datas_2022, datas_certas_2022))
data_dic_comb = {**data_dic_2021, **data_dic_2022}

# substitui as datas erradas para as datas certas
df["Data"] = df["Data"].replace(data_dic_comb)

# ajusta os formatos de datas
df["Data"] = pd.to_datetime(df["Data"], format="%d/%m/%y")

In [37]:
df.head(3)

,Rodada,Data,Mandante,Visitante,Arena,Mandante_Placar,Visitante_Placar,Mandante_Resultado
0,1,2021-05-29,Cuiabá,Juventude,Arena Pantanal,2,2,Empate
1,1,2021-05-29,Bahia,Santos,Estádio de Pituaçu,3,0,Vitoria
2,1,2021-05-29,São Paulo,Fluminense,Morumbi,0,0,Empate

### Leitura dados de 2003 até 2020

In [38]:
# dados tratados de 2003 até 2020
path_periodo = "https://github.com/juvenalfonseca/python/blob/master/datasets/campeonato-brasileiro-pontos-corridos-2003-2020-periodo.csv?raw=true"
path_jogos = "https://github.com/juvenalfonseca/python/blob/master/datasets/campeonato-brasileiro-pontos-corridos-2003-2020-jogos.csv?raw=true"

df_periodo = pd.read_csv(path_periodo, delimiter=";")
df_jogos   = pd.read_csv(path_jogos  , delimiter=";")

In [39]:
df_periodo.head(3)

   Torneio      Inicio         Fim
0  BRA2003  29/03/2003  14/12/2003
1  BRA2004  21/04/2004  19/12/2004
2  BRA2005  11/04/2005  09/12/2005

In [40]:
print(df_jogos.shape)
df_jogos.head(3)

(7266, 13)

,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,29/03/2003,16h00,Sábado,Athlético-PR,Grêmio,Athlético-PR,Arena da Baixada,2,0,PR,RS,PR
1,1,29/03/2003,16h00,Sábado,Guarani,Vasco,Guarani,Brinco de Ouro,4,2,SP,RJ,SP
2,1,30/03/2003,16h00,Domingo,Fortaleza,Bahia,-,Castelão,0,0,CE,BA,-

### Ajusta dados de 2003-2020

In [41]:
# retira algumas colunas indesejadas
df_jogos = df_jogos.drop(['Horário', 'Dia', 'Vencedor', 'Estado Mandante', 'Estado Visitante', 'Estado Vencedor'], axis=1)

# iguala o nome das colunas
df_jogos.columns = df.columns[:-1]

# Ajusta valores
df_jogos["Mandante_Placar"] = df_jogos["Mandante_Placar"].astype(np.int8)
df_jogos["Visitante_Placar"] = df_jogos["Visitante_Placar"].astype(np.int8)

# determina o resultado para o Mandante
df_jogos["Mandante_Resultado"] = (df_jogos["Mandante_Placar"] - df_jogos["Visitante_Placar"]).apply(lambda x: sub_valor(x))

# ajusta formatdo data
df_jogos['Data'] = pd.to_datetime(df_jogos['Data'], format="%d/%m/%Y")

In [42]:
# acrescenta anos de 2021, 2022 e 2023
df_periodo.loc[len(df_periodo.index)] = ['BRA2021', '29/05/2021', '09/12/2021']
df_periodo.loc[len(df_periodo.index)] = ['BRA2022', '09/04/2022', '13/11/2022']
df_periodo.loc[len(df_periodo.index)] = ['BRA2023', '15/04/2023', '03/12/2023']


# ajusta datas
df_periodo['Inicio'] = pd.to_datetime(df_periodo['Inicio'], format="%d/%m/%Y")
df_periodo['Fim'] = pd.to_datetime(df_periodo['Fim'], format="%d/%m/%Y")

df_periodo.tail()

    Torneio     Inicio        Fim
16  BRA2019 2019-04-27 2019-12-08
17  BRA2020 2020-08-08 2021-02-25
18  BRA2021 2021-05-29 2021-12-09
19  BRA2022 2022-04-09 2022-11-13
20  BRA2023 2023-04-15 2023-12-03

### Leitura dados 2023

In [43]:
# leitura de dados do brasileirão 2023
df_2023 = pd.read_excel('./dados/brasileirao_2023.xlsx')

# ajusta data
df_2023['Data'] = pd.to_datetime(df_2023['Data'], format="%d/%m/%Y")

# Ajusta valores
df_2023["Mandante_Placar"] = df_2023["Mandante_Placar"].astype(np.int8)
df_2023["Visitante_Placar"] = df_2023["Visitante_Placar"].astype(np.int8)

# determina o resultado para o Mandante
df_2023["Mandante_Resultado"] = (df_2023["Mandante_Placar"] - df_2023["Visitante_Placar"]).apply(lambda x: sub_valor(x))

In [44]:
df_2023.head(3)

,Rodada,Data,Mandante,Visitante,Arena,Mandante_Placar,Visitante_Placar,Mandante_Resultado
0,1,2023-04-15,Palmeiras,Cuiabá,Allianz Parque,2,1,Vitoria
1,1,2023-04-15,América-MG,Fluminense,Independência,0,3,Derrota
2,1,2023-04-15,Botafogo,São Paulo,Nilton Santos,2,1,Vitoria

### Concatena os dados

In [45]:
df_concat = pd.concat([df_jogos, df, df_2023]).sort_values(['Data'], ascending=True, ignore_index=True)

In [46]:
df_concat.tail(3)

,Rodada,Data,Mandante,Visitante,Arena,Mandante_Placar,Visitante_Placar,Mandante_Resultado
8123,10,2023-06-11,São Paulo,Palmeiras,Morumbi,0,2,Derrota
8124,10,2023-06-11,Internacional,Vasco,Beira Rio,2,1,Vitoria
8125,10,2023-06-11,Goiás,Fluminense,Hailé Pinheiro,2,2,Empate

In [47]:
# padronização dos nomes dos times
lista_times = ['Athlético-PR', 'Botafogo', 'Botafogo-rj', 'CORINTHIANS', 'CRUZEIRO', 'Ceará SC', 'FLAMENGO', 'FLUMINENSE',
               'GUARANI', 'PALMEIRAS', 'PAYSANDU', 'SANTOS', 'Sport Recife', 'VASCO']

lista_correta = ['Athletico-PR', 'Botafogo-RJ', 'Botafogo-RJ', 'Corinthians', 'Cruzeiro', 'Ceará', 'Flamengo', 'Fluminense',
                 'Guarani', 'Palmeiras', 'Paysandu', 'Santos', 'Sport', 'Vasco',]

# dicionarios com as datas mapeadas
time_dict = dict(zip(lista_times, lista_correta))

# substitui as datas erradas para as datas certas
df_concat["Mandante"] = df_concat["Mandante"].replace(time_dict)
df_concat["Visitante"] = df_concat["Visitante"].replace(time_dict)

In [48]:
print(df_concat.shape)
df_concat.head(3)

(8126, 8)

,Rodada,Data,Mandante,Visitante,Arena,Mandante_Placar,Visitante_Placar,Mandante_Resultado
0,1,2003-03-29,Athletico-PR,Grêmio,Arena da Baixada,2,0,Vitoria
1,1,2003-03-29,Guarani,Vasco,Brinco de Ouro,4,2,Vitoria
2,1,2003-03-30,Criciúma,Fluminense,Heriberto Hulse,2,0,Vitoria

In [49]:
# define o Vencedor e Derrotado do confronto e placar
df_concat["Vencedor"] = df_concat["Mandante_Placar"] - df_concat["Visitante_Placar"]
df_concat["Derrotado"] = df_concat["Mandante_Placar"] - df_concat["Visitante_Placar"]

# monta coluna Placar
df_concat["Placar"] = df_concat["Mandante_Placar"].apply(str) + "x" + df_concat["Visitante_Placar"].apply(str)

for idx in df_concat.index:
    
    if df_concat.loc[idx, "Vencedor"] > 0.0:
        df_concat.loc[idx, "Vencedor"] = df_concat.loc[idx, "Mandante"]
        df_concat.loc[idx, "Derrotado"] = df_concat.loc[idx, "Visitante"]
        
    elif df_concat.loc[idx, "Vencedor"] == 0.0:
        df_concat.loc[idx, "Vencedor"] = '-'
        df_concat.loc[idx, "Derrotado"] = '-'
        
    else:
        df_concat.loc[idx, "Vencedor"] = df_concat.loc[idx, "Visitante"]
        df_concat.loc[idx, "Derrotado"] = df_concat.loc[idx, "Mandante"]

In [50]:
df_concat.head()

,Rodada,Data,Mandante,Visitante,Arena,Mandante_Placar,Visitante_Placar,Mandante_Resultado,Vencedor,Derrotado,Placar
0,1,2003-03-29,Athletico-PR,Grêmio,Arena da Baixada,2,0,Vitoria,Athletico-PR,Grêmio,2x0
1,1,2003-03-29,Guarani,Vasco,Brinco de Ouro,4,2,Vitoria,Guarani,Vasco,4x2
2,1,2003-03-30,Criciúma,Fluminense,Heriberto Hulse,2,0,Vitoria,Criciúma,Fluminense,2x0
3,1,2003-03-30,Corinthians,Atlético-MG,Pacaembu,0,3,Derrota,Atlético-MG,Corinthians,0x3
4,1,2003-03-30,Cruzeiro,São Caetano,Mineirão,2,2,Empate,-,-,2x2

In [51]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8126 entries, 0 to 8125
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rodada              8126 non-null   int64
 1   Data                8126 non-null   datetime64[ns]
 2   Mandante            8126 non-null   object
 3   Visitante           8126 non-null   object
 4   Arena               8126 non-null   object
 5   Mandante_Placar     8126 non-null   int8
 6   Visitante_Placar    8126 non-null   int8
 7   Mandante_Resultado  8126 non-null   object
 8   Vencedor            8126 non-null   object
 9   Derrotado           8126 non-null   object
 10  Placar              8126 non-null   object
dtypes: datetime64[ns](1), int64(1), int8(2), object(7)
memory usage: 587.4+ KB

### Inserção do período

In [62]:
# junta os datasets e retorna apenas os registros corretos criados na junção
df_periodo['key'] = 1
df_concat['key'] = 1
 
df_final = (pd.merge(df_periodo, df_concat, on ='key')
            .query('Data >= Inicio & Data <= Fim')
            .drop(["Inicio","Fim","key"], axis=1)
            .sort_values(['Data'], ascending=True, ignore_index=True)
)

# cria um ID para cada partida
df_final["Jogo"] = "J"
df_final["Numero"] = list(map(str, list(df_final.index)))
df_final["ID"] = df_final["Jogo"] + df_final["Numero"]

# retirar colunas
df_final = df_final.drop(["Jogo", "Numero"], axis=1)

# reordenar colunas
df_final = df_final.reindex(columns=["ID"] + list(df_final.columns)[:-1])

In [63]:
df_final

,ID,Torneio,Rodada,Data,Mandante,Visitante,Arena,Mandante_Placar,Visitante_Placar,Mandante_Resultado,Vencedor,Derrotado,Placar
0,J0,BRA2003,1,2003-03-29,Athletico-PR,Grêmio,Arena da Baixada,2,0,Vitoria,Athletico-PR,Grêmio,2x0
1,J1,BRA2003,1,2003-03-29,Guarani,Vasco,Brinco de Ouro,4,2,Vitoria,Guarani,Vasco,4x2
2,J2,BRA2003,1,2003-03-30,Goiás,Paysandu,Serra Dourada,2,2,Empate,-,-,2x2
3,J3,BRA2003,1,2003-03-30,Fortaleza,Bahia,Castelão,0,0,Empate,-,-,0x0
4,J4,BRA2003,1,2003-03-30,Vitória,Figueirense,Barradão,1,1,Empate,-,-,1x1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8121,J8121,BRA2023,10,2023-06-11,São Paulo,Palmeiras,Morumbi,0,2,Derrota,Palmeiras,São Paulo,0x2
8122,J8122,BRA2023,10,2023-06-11,Internacional,Vasco,Beira Rio,2,1,Vitoria,Internacional,Vasco,2x1
8123,J8123,BRA2023,10,2023-06-11,Flamengo,Grêmio,Maracanã,3,0,Vitoria,Flamengo,Grêmio,3x0
8124,J8124,BRA2023,10,2023-06-11,América-MG,Athletico-PR,Mineirão,2,2,Empate,-,-,2x2
8125,J8125,BRA2023,10,2023-06-11,Goiás,Fluminense,Hailé Pinheiro,2,2,Empate,-,-,2x2

### Download dos dados

In [64]:
# salva em formato parquet
df_final.to_parquet("./dados/dados_brasileirao_2003-2023.parquet", index=False)

In [ ]:
# pd.read_parquet("./dados_brasileirao.parquet")